---
---

@charset "utf-8";
@import "color";

body {
    background-color: $theme-color;
}

.jumbotron {
    background-color: $theme-color;
    color: $theme-text-color;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    border-radius: 0;
}

nav {
    @extend .pg-bg-theme;

    .navbar-brand {
        img {
            height: 50px;
        }
    }
}

section {
    background-color: $normal-color;
    padding-top: 30px;
    padding-bottom: 30px;
}

footer {
    @extend .pg-bg-theme;

    padding-top: 8px;
    padding-bottom: 8px;

    .pg-right {
        text-align: right;
    }
}

h2,h3 {
    text-align: center;
}

a {
    color: $theme-color;
}

.btn-primary {
    background-color: $accent-color;
    border-color: $accent-color;

    &:hover {
        background-color: $accent-color-hover;
        border-color: $accent-color-hover;
    }
}

p.pg-button {
    text-align: center;
}

canvas {
    width: 100%;
    vertical-align: bottom;
}

.pg-bg-theme {
    color: $theme-text-color;
    background-color: $theme-color;

    a {
        color: $theme-link-color;

        &:hover {
            color: $theme-link-color-hover;
        }
    }
}

.pg-bg-normal {
    background-color: $normal-color;
}

.pg-bg-light {
    background-color: white;
}

.pg-safe-area {
    padding-right: constant(safe-area-inset-right);
    padding-left: constant(safe-area-inset-left);
}

.pg-safe-area-top {
    padding-top: constant(safe-area-inset-top);
}

.pg-safe-area-bottom {
    padding-bottom: constant(safe-area-inset-bottom);
}