---
---

@import "layout";

.pg-item {
    text-align: center;
}

#about {
    display: block;
    position: relative;
    top: -($nav-height + $section-padding-top);
    visibility: hidden;
}

#download-section div.row div.row {
    margin: 20px 0;

    .pg-item img {
        width: 189px;
        height: 56px;
    }
}