$theme-color: #50C3FF;
$theme-color-translucent: rgba(80, 195, 255, 0.9);
$theme-text-color: white;
$theme-link-color: white;
$theme-link-color-hover: #dddddd;

$accent-color: #FF53A3;

$normal-color: #ECECEC;